@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #7f3899;
    --primary-color: #713792;
    --secondary-color: hwb(286 15% 37%);
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #732592;
    --primary-color: #661e83;
    --secondary-color: #642291;
    --font: "Nunito Sans", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #652375;
    --primary-color: #541d6d;
    --secondary-color: #763a92;
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #732e85;
    --primary-color: #633880;
    --secondary-color: #672e8d;
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
}
/* c贸digo omitido */

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}
/* c贸digo omitido */

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}/* c贸digo omitido */

header {
    background-color: var(--primary-color);
}
/* c贸digo omitido */

header {
    background-color: var(--primary-color);
    text-align: center;
}
